*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}



.header{
    background-color: #e2c279;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header_logo{
    margin: 10px 0;
    transition: 0.3s;
}
.header_logo:hover{
    transform: scale(1.2);
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    display: flex;
    gap: 150px;
    align-items: center;
}
.header_menu{
    display: flex;
    gap: 31px;
}
.menu_item{
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    list-style-type: none;
    transition: 0.3s;
}
.menu_item a:hover{
    opacity: 0.7;
}
.menu_item a{
    text-decoration: none;
    color: white;
}
.standart_button{
    padding: 10px 20px;
    border: 1px solid #937227;
    border-radius: 5px;
    background-color: #937227;
    color: white;
    transition: 0.3s;
}
.standart_button:hover{
    transform: scale(1.2);
    background: none;
    color: #937227;
}
.section_title{
    font-size: 56px;
    line-height: 69px;
    font-weight: 700;
    padding: 40px 0;
    color: white;
}


.Price_items{
    width: 100%;
}
.Price{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 113px;

}
.Price_item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #e2c279;
    width: 100%;
    padding: 30px;
    border-radius: 50px;
    margin: 20px 0;
}
.Price_photo{
    height: 400px;
    border-radius: 40px;
}
.Price_item_title{
    font-size: 32px;
    line-height: 45px;
    padding: 50px 0px 0px;
}
.Price_item_price{
    font-size: 20px;
    line-height: 45px;
    padding: 40px 0px 50px ;
}
.Price_text_part{
    padding-left: 60px;
}
.Price_item_subtitle{
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 30px 0 0 0 ;
}
.Price_photo_div{
    display: flex;
    gap: 20px;
    width: 500px;
    overflow-x: scroll;
}

.Price_photo_div::-webkit-scrollbar{
    height: 20px;
    display: visible;
    background-color: #e2c279;
    border-radius: 10px;
}
.Price_photo_div::-webkit-scrollbar-thumb{
    width: 50px;
    display: visible;
    background-color: #937227;
    border-radius: 10px;
}
.Price_item:nth-child(2) .Price_photo_div{
    padding-left: 50px;
}
.Price_items .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_button{
    margin: 30px 0;
}



.footer{
    background-color: black;
    color: white;
    padding-bottom: 40px;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: #937227;
}
.footer_item:hover{
    color: #937227;
}
.footer_title{
    margin-bottom: 200px;

}
.footer_container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer_name{
    font-size: 32px;
    line-height: 45px;
}
.footer_item{
    font-size: 15px;
    line-height: 28px;    
    color: white;
}
.footer_content{
    display: flex;
    justify-content: space-between;
}
.footer_right{
    display: flex;
    gap: 50px;
}