*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}



.header{
    background-color: #e2c279;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header_logo{
    margin: 10px 0;
    transition: 0.3s;
}
.header_logo:hover{
    transform: scale(1.2);
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    display: flex;
    gap: 150px;
    align-items: center;
}
.header_menu{
    display: flex;
    gap: 31px;
}
.menu_item{
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    list-style-type: none;
    transition: 0.3s;
}
.menu_item a:hover{
    opacity: 0.7;
}
.menu_item a{
    text-decoration: none;
    color: white;
}
.standart_button{
    padding: 10px 20px;
    border: 1px solid #937227;
    border-radius: 5px;
    background-color: #937227;
    color: white;
    transition: 0.3s;
}
.standart_button:hover{
    transform: scale(1.2);
    background: none;
    color: #937227;
}
.section_title{
    font-size: 56px;
    line-height: 69px;
    font-weight: 700;
    padding: 40px 0;
}




/* .hero{
    height: 820px;
    padding-top: 100px;
    padding-bottom: 50px;

}
.hero_background{
    filter: brightness(50%) blur(20px);
    position: absolute;
    left: -20px;
    z-index: -1;
}
.hero_content{
    text-align: center;
}
.hero_title{
    font-size: 100px;
    font-weight: 700;
    color: white;
    padding: 150px 0 40px 0;
}
.hero_subtitle{
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    padding-bottom: 200px;
}
.hero_down_arrow{
    font-size: 100px;
    color: white;

}
.hero_down_arrow_sign{
    animation-name: hero_down_arrow;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes hero_down_arrow{
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: 20px;
    }
    100%{
        margin-top: 0;
    }
} */




/* .Introduction{
    background-color: white;
}
.Introduction_content{
    display: flex;
}
.Itroduction_item{
    width: 50%;
}
.Introduction_right{
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows:  repeat(3, 33.3333%) ;
} */
.hero{
    padding-top: 90px;
}
.hero_item{
    width: 50%;
}
.hero1_left{
    background-color: #313442;
    color: white;
    display: flex;
    align-items: center;
}
.hero_slide1{
    display: flex;
    overflow: hidden;
}
.hero_container{
    max-width: 480px;
    margin: 0 auto;
}
.hero_title{
    font-size: 56px;
    line-height: 69px;
    font-weight: 700;
}
.hero_subtitle{
    font-size: 21px;
    line-height: 45px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px 0 40px 0;
}
.hero_text{
    margin-bottom: 40px;
}
.hero_button:hover{
    color: white;
    margin-left: 20px;
    transform: scale(1);
}
.hero1_right img{
    height: 100%;
}
.hero2_left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.hero_slide2{
    display: flex;
    background-color: #860c0a;
    padding: 15px;
    color: white;
}
.hero2_img{
    width: 230px;
    height: 233px;
}
.hero2_right{
    display: flex;
    align-items: center;
}
.hero2_text{
    padding: 20px 0 40px 0;
}





.Contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}
.section_title{
    font-size: 56px;
    line-height: 69px;
    font-weight: 700;
    padding: 40px 0;
}
.Contacts_title{
    margin: 60px 0;
}
.Contacts_items{
    display: flex;
    gap: 80px;
}
.Contacts_items a{
    text-decoration: none;
}
.Contacts_item{
    padding: 20px;
    border-radius: 30px;
    background-color: #e2c279;
    color: white;
    transition: 0.3s;
}
.Contacts_item:last-child{
    animation-duration: 0.6s;
}
.Contacts_item_title{
    font-size: 20px;
    line-height: 28px;
    padding: 40px 0 20px 0;
}
.Contacts_item_subtitle{
    font-size: 18px;
    line-height: 24px;
}
.Contacts_item ion-icon{
    font-size: 100px;
}
.Contacts_whatsapp:hover{
    background-color:  #075e54  ;
    transform: scale(1.2);
}
.Contacts_telegram:hover{
    background-color: #0088cc;
    transform: scale(1.2);
}
.Contacts_instagram:hover{
    background: url(../img/instagram_background.jpg);
    background-size: cover;
    transform: scale(1.2);
}


.Price_items{
    width: 100%;
}
.Price{
    background-color: #e2c279;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Price_item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #e2c279;
    width: 100%;
    padding: 30px;
    border-radius: 50px;
    margin: 20px 0;
}
.Price_photo{
    height: 400px;
    border-radius: 40px;
}
.item_title{
    font-size: 32px;
    line-height: 45px;
    padding: 50px 0px 0px;
}
.item_price{
    font-size: 20px;
    line-height: 45px;
    padding: 40px 0px 50px ;
}
.Price_text_part{
    padding-left: 60px;
}
.item_subtitle{
    font-size: 15px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 30px 0 0 0 ;
}
.Price_photo_div{
    display: flex;
    gap: 20px;
    width: 500px;
    overflow-x: scroll;
}

.Price_photo_div::-webkit-scrollbar{
    height: 20px;
    display: visible;
    background-color: #e2c279;
    border-radius: 10px;
}
.Price_photo_div::-webkit-scrollbar-thumb{
    width: 50px;
    display: visible;
    background-color: #937227;
    border-radius: 10px;
}
.Price_item:nth-child(2) .Price_photo_div{
    padding-left: 50px;
}
.Price_items .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_button{
    margin: 30px 0;
}
.Price{
    padding-top: 113px;
}
.delievery{
    text-align: center;
    background-color: white;
}
.delievery h1, .delievery h3{
    color: #937227;
}

.delievery_content_upper{
    display: flex;
    justify-content: left;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    background-color: #313442;
    padding: 80px;
    border-radius: 25px;
    margin-bottom: 80px;
}
.delievery_upper_map{
    transform: scale(0.3s);
    border: none;
    border-radius: 25px;
}
.reviews{
    background-color: #860c0a;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.reviews_items{
    display: flex;
    gap: 50px;
}
.reviews_item{
    padding: 30px;
    background-color: #937227;
    border-radius: 30px;
    height: 580px;
}
.reviews_name{
    margin-top: 10px;
}
.reviews_account{
    margin-bottom: 70px;
}
.reviews_name_img{
    border-radius: 50%;
}
.reviews_container{
    max-width: 1200px;
}
.reviews_img{
    border-radius: 25px;
    margin-top: 30px;
}


.footer{
    padding-bottom: 40px;
}
.footer a{
    color: black;
}
.footer a:hover{
    color: #937227;
}
.footer_title{
    margin-bottom: 200px;
    color: black;
}
.footer_container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer_name{
    font-size: 32px;
    line-height: 45px;
}
.footer_item{
    font-size: 15px;
    line-height: 28px;    
}
.footer_content{
    display: flex;
    justify-content: space-between;
}
.footer_right{
    display: flex;
    gap: 50px;
}